package views

import (
	"github.com/benallen-dev/collage/pkg/data"
)

templ Images(users []data.User) {
	for _, user := range users {

		<div class="bg-stone-300 rounded-lg overflow-hidden relative">
			<img class="object-cover h-96 w-full transition-all" src={ user.ImageUrl }></img>
			<div class="bg-neutral-800 text-neutral-800 p-2 absolute opacity-50 bottom-0 left-0 w-full">
				{ user.Name }
			</div>
			<div class="text-neutral-50 p-2 absolute opacity-100 bottom-0 left-0 w-full">
				{ user.Name }
				<span class="float-right pr-2 cursor-pointer opacity-20 hover:opacity-100" hx-trigger="click" hx-post={ "api/delete/" + user.SessionId } hx-target="#image-container">
					❌
				</span>
			</div>
		</div>
	}

}
