package views

templ Index() {
	@base() {
		<h1>Collage</h1>
		<p>Collage allows users to paste pictures and attach their name, and then the presenter can show them on the screen.</p>
		<ul>
			<li><a href="/presenter">Presenter interface</a></li>
			<li><a href="/participant">Add pictures</a></li>
		</ul>
	}
}
