package views

import (
	"github.com/benallen-dev/collage/pkg/data"
)

templ Presenter(users []data.User) {
	@base() {
		<div>
			<h1>Presenter view</h1>
			for _, user := range users {
				<h2>{ user.Name }</h2>
				<p>{ user.SessionId }</p>
				<img src={ user.ImageUrl }></img>
			}
		</div>
	}
}
